version: 0.4.7

namespace: infrastructure-admin
project: infrastructure-admin

services:
  - name: infrastructure-admin
    image: markmorcos/infrastructure-admin
    port: 3000
    env:
      - name: DATABASE_URL
        valueFrom:
          secretKeyRef:
            name: database-secrets
            key: DATABASE_URL
      - name: JWT_SECRET
        valueFrom:
          secretKeyRef:
            name: jwt-secret
            key: JWT_SECRET
    ingress:
      host: admin.morcos.tech
      path: /
      pathType: Prefix
