name: deploy-app

on:
  repository_dispatch:
    types:
      - deploy-booking
      - deploy-essenteil
      - deploy-eventlane
      - deploy-games
      - deploy-infrastructure-admin
      - deploy-portfolio
      - deploy-pile
      - deploy-scrum-poker
      - deploy-stream
      - deploy-tazaker
      - deploy-urbansportsclub
      - deploy-url-shortener
      - deploy-watch
      - deploy-whiteboard

jobs:
  deploy:
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Checkout infrastructure
        uses: actions/checkout@v4

      - name: Checkout client
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.client_payload.repository }}
          path: client

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.INFRASTRUCTURE_PAT }}

      - name: Build and push Docker image
        run: |
          DEPLOYMENT_VERSION=${{ github.event.client_payload.version }} \
          CONFIG_FILE="client/${{ github.event.client_payload.config_file }}" \
          ./scripts/build.sh

      - name: Configure VPN
        uses: tailscale/github-action@v3
        with:
          oauth-client-id: ${{ secrets.TAILSCALE_CLIENT_ID }}
          oauth-secret: ${{ secrets.TAILSCALE_CLIENT_SECRET }}
          tags: tag:ci

      - name: Configure Kubernetes
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config
          chmod 600 ~/.kube/config

      - name: Deploy services using Helm
        run: |
          KUBECONFIG=~/.kube/config \
          DEPLOYMENT_TOKEN=${{ github.event.client_payload.token }} \
          DEPLOYMENT_VERSION=${{ github.event.client_payload.version }} \
          CONFIG_FILE="client/${{ github.event.client_payload.config_file }}" \
          ./scripts/deploy.sh
