name: deploy-app

on:
  repository_dispatch:
    types:
      - deploy-infrastructure-admin
      - deploy-portfolio
      - deploy-booking
      - deploy-url-shortener
      - deploy-urbansportsclub
      - deploy-tazaker
      - deploy-essenteil

jobs:
  deploy:
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Checkout client
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.client_payload.repository }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.INFRASTRUCTURE_PAT }}

      - name: Checkout infrastructure
        uses: actions/checkout@v4
        with:
          path: infrastructure

      - name: Build and push Docker image
        run: |
          DEPLOYMENT_VERSION=${{ github.event.client_payload.version }} \
          CONFIG_FILE="${{ github.event.client_payload.config_file }}" \
          ./infrastructure/scripts/build.sh

      - name: Configure VPN
        uses: tailscale/github-action@v3
        with:
          oauth-client-id: ${{ secrets.TAILSCALE_CLIENT_ID }}
          oauth-secret: ${{ secrets.TAILSCALE_CLIENT_SECRET }}
          tags: tag:ci

      - name: Configure Kubernetes
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config
          chmod 600 ~/.kube/config

      - name: Deploy services using Helm
        run: |
          KUBECONFIG=~/.kube/config \
          DEPLOYMENT_TOKEN=${{ github.event.client_payload.token }} \
          DEPLOYMENT_VERSION=${{ github.event.client_payload.version }} \
          CONFIG_FILE="${{ github.event.client_payload.config_file }}" \
          ./infrastructure/scripts/deploy.sh
